* {
   box-sizing: border-box;
}

#navlist {
   overflow: hidden;
   background-color: black;
   position: relative;
   width: 100%;
   z-index: 1;
}

#navlist a {
   float: left;
   color: white;
   font-weight: bold;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   line-height: 25px;
   border-radius: 4px;
   transition: 0.2s;
}

#navlist-logo {
   position: relative;
   width: 300px;
   border-radius: 15px;
   float: left;
}

.box {
   position: relative;
   width: 225px;
   height: 100px;
}

.box-contents {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: url("./imagini/logo_white.png") 50% 50% / cover no-repeat;
   box-shadow: 0 0 50px rgb(121, 121, 121);
   transition: .35s ease;
   border-radius: 40px;
}

.hover-point {
   position: absolute;
   z-index: 2;
   width: calc(100% / 3);
   height: calc(100% / 3);
}

.hover-point:nth-child(1) {
   top: 0;
   left: 0;
}

.hover-point:nth-child(2) {
   top: 0;
   left: calc(100% / 3);
}

.hover-point:nth-child(3) {
   top: 0;
   right: 0;
}

.hover-point:nth-child(4) {
   top: calc(100% / 3);
   left: 0;
}

.hover-point:nth-child(5) {
   top: calc(100% / 3);
   right: 0;
}

.hover-point:nth-child(6) {
   bottom: 0;
   left: 0;
}

.hover-point:nth-child(7) {
   bottom: 0;
   left: calc(100% / 3);
}

.hover-point:nth-child(8) {
   bottom: 0;
   right: 0;
}

.hover-point:nth-child(1):hover~.box-contents {
   box-shadow: 15px 15px 50px rgba(162, 162, 162, 0.3);
   transform-origin: right top;
   transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}

.hover-point:nth-child(2):hover~.box-contents {
   box-shadow: 0 15px 50px rgba(162, 162, 162, 0.3);
   transform-origin: center top;
   transform: perspective(1000px) rotateX(10deg);
}

.hover-point:nth-child(3):hover~.box-contents {
   box-shadow: -15px 15px 50px rgba(162, 162, 162, 0.3);
   transform-origin: left top;
   transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}

.hover-point:nth-child(4):hover~.box-contents {
   box-shadow: 15px 5px 50px rgba(162, 162, 162, 0.3);
   transform-origin: left center;
   transform: perspective(1000px) rotateY(-10deg);
}

.hover-point:nth-child(5):hover~.box-contents {
   box-shadow: -15px 5px 50px rgba(162, 162, 162, 0.3);
   transform-origin: right center;
   transform: perspective(1000px) rotateY(10deg);
}

.hover-point:nth-child(6):hover~.box-contents {
   box-shadow: 15px -15px 50px rgba(162, 162, 162, 0.3);
   transform-origin: right bottom;
   transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}

.hover-point:nth-child(7):hover~.box-contents {
   box-shadow: 0 -15px 50px rgba(162, 162, 162, 0.3);
   transform-origin: center bottom;
   transform: perspective(1000px) rotateX(-10deg);
}

.hover-point:nth-child(8):hover~.box-contents {
   box-shadow: -15px -15px 50px rgba(162, 162, 162, 0.3);
   transform-origin: left bottom;
   transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}

#navlist-right {
   font-size: 20px;
   font-family:'Papyrus';
   float: right;
}

#navlist-right a {
   padding: 45px 20px 10px 20px;
}

#navlist-right a:hover {
   font-size: 21px;
   color: rgb(165, 165, 165);
}

body {
   margin: 0;
   font-family: 'Avantgarde';
}

main {
   color: black;
   padding-left: 100px;
   padding-right: 100px;
}

.centered-content {
   padding: 12px 60px;
   text-align: center;
   font-size: 25px;
}

.titlu {
   text-align: center;
   font-size: 40px;
   padding: 30px;
}

.subtitlu {
   padding: 40px 0px 40px 150px;
   font-size: 30px;
}

.content {
   padding: 10px 80px;
   font-size: 25px;
}

.content-photo {
   text-align: center;
   padding: 50px 0px;
}

.content-photo img {
   max-width: 300px;
}

main ul {
   list-style-type: disc;
   padding-inline-start: 50px;
}

.non-decorative {
   list-style-type: none;
   text-decoration: none;
}

main ul li {
   padding: 15px;
}

div:target {
   animation: highlight 1s ease;
}

@keyframes highlight {
   from {
      background: #939393;
   }

   to {
      background: rgb(0, 0, 0);
   }
}

.footer {
   background-color: black;
   color: white;
   font-family: 'Papyrus';
   font-size: 15px;
   padding: 5px 10px;
}

.content-photo {
   display: flex;
   text-align: start;
}

.back-on-top {
   padding-bottom: 10px;
   width: 100%;
   text-align: center;
   font-size: 20px;
}

.back-on-top a {
   padding: 10px;
   color: black;
   transition: .3s;
}

.back-on-top a:hover {
   background-color: black;
   color: white;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

.blockquote {
   font-size: 1.4em;
   width: 60%;
   margin: 50px auto;
   font-family: Open Sans;
   font-style: italic;
   color: #555555;
   padding: 1.2em 30px 1.2em 75px;
   border-left: 8px solid #c690b9;
   line-height: 1.6;
   position: relative;
   background: #EDEDED;
}

.blockquote::before {
   font-family: Arial;
   content: "\201C";
   color: #c690b9;
   font-size: 4em;
   position: absolute;
   left: 10px;
   top: -10px;
}

.blockquote::after {
   content: '';
}

.blockquote span {
   display: block;
   color: #333333;
   font-style: normal;
   font-weight: bold;
   margin-top: 1em;
}

.contact {
   position: fixed;
   width: 100%;
   bottom: 0;
}